.animate-scaleBubbleOne {
  animation: scaleBubbleOne 0.4s ease-out backwards;
  animation-delay: 1000ms;
}

@keyframes scaleBubbleOne {
  0% {
    transform: scaleX(0) scaleY(0) translateX(3.3rem) translateY(-3.25rem);
  }
  100% {
    transform: scaleX(1.5) scaleY(2) translateX(3.3rem) translateY(-3.25rem);
  }
}
